[*.cs]

# CS8604: Возможно, аргумент-ссылка, допускающий значение NULL.
dotnet_diagnostic.CS8604.severity = error
csharp_prefer_simple_using_statement=true:warning
dotnet_diagnostic.CA1032.severity=suggestion
dotnet_diagnostic.CA1820.severity=suggestion

[*.{cs,vb}]
dotnet_style_prefer_auto_properties=true:suggestion
dotnet_diagnostic.CA1008.severity=suggestion
dotnet_diagnostic.CA1021.severity=suggestion
dotnet_diagnostic.CA1024.severity=suggestion
dotnet_diagnostic.CA1027.severity=suggestion
dotnet_diagnostic.CA1040.severity=error
dotnet_diagnostic.CA1043.severity=suggestion